<div class="row">
  <div class="col-sm-12 mb-4">
    <div class="card">
      <div class="card-header text-uppercase d-flex align-items-center">
        <div class="col-sm-9">
          Data User
        </div>
        <div class="col-sm-3 d-flex align-items-end flex-column">
          <button type="button" class="btn btn-primary" (click)="addData()"> Tambah Data </button>
        </div>
      </div>
      <div class="card-body">
        <input type='text' class="form-control" placeholder='Type to filter the name column...'
          (keyup)='updateFilter($event)' />
        <ngx-datatable #table class='bootstrap' [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="'auto'" [limit]="10" [rows]='rows'>

          <ngx-datatable-column name="Name" prop="name" [width]="50">
            <ng-template let-value="value" let-expanded="expanded" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Username" prop="username" [width]="50">
            <ng-template let-value="value" let-expanded="expanded" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Role" prop="role.rolename" [width]="50">
            <ng-template let-value="value" let-expanded="expanded" ngx-datatable-cell-template>
              {{ value }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Action" prop="id" [width]="50">
            <ng-template let-value="value" let-expanded="expanded" ngx-datatable-cell-template>
              <button type="button" class="btn btn-outline-warning" (click)="editData(value)"> <span>Edit</span>
              </button>
              <button type="button" class="btn btn-outline-danger ml-3" (click)="deleteData(value)"> <span>Hapus</span>
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>